Django==6.0.7
cloudinary==1.45.0
dj-database-url
django-cors-headers==4.9.0
django-cloudinary-storage==0.3.0
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
Pillow==12.3.0
psycopg[binary]
python-dotenv
gunicorn
